<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ydw.control.dao.AppMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.ydw.control.model.db.App">
        <id column="id" property="id" />
        <result column="name" property="name" />
        <result column="description" property="description" />
        <result column="package_name" property="packageName" />
        <result column="package_file_name" property="packageFileName" />
        <result column="package_file_path" property="packageFilePath" />
        <result column="size" property="size" />
        <result column="real_size" property="realSize" />
        <result column="type" property="type" />
        <result column="account_path" property="accountPath" />
        <result column="save_path" property="savePath" />
        <result column="open_shell" property="openShell" />
        <result column="close_shell" property="closeShell" />
        <result column="arm_strategy_id" property="armStrategyId" />
        <result column="pc_strategy_id" property="pcStrategyId" />
        <result column="screen" property="screen" />
    </resultMap>

</mapper>
